<template name="Dashboard">

  <section id="demo-hero-4" class="jumbotron relative" data-pages-bg-image="assets/images/banner.jpg" style="height: 400px;padding-top: 88px;">
    <div class="container-xs-height ">
      <div class="col-xs-height col-middle">
        <!-- BEGIN CONTENT -->
        <div class="content-layer">
          <div class="inner full-height">
            <div class="container-xs-height full-height">
              <div class="col-xs-height col-middle text-center">
                <img src="assets/images/banner.jpg">
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
    </div>
  </section>

  <section class="container-fluid b-t b-white">
    <div class="row">
      <div class="col-md-4 text-center bg-success hover-push demo-story-block">
        <div class="hover-backdrop" style="background:url('assets/images/foto1.jpg')"></div>
        <div class="hover-caption bottom-left bottom-right p-b-40">
          <h4 class="text-white m-b-25">Paint it the way you like it!</h4>
          <a class="font-montserrat fs-12 hint-text text-white all-caps">More information</a>
        </div>
      </div>
      <div class="col-md-4 text-center bg-success hover-push demo-story-block">
        <div class="hover-backdrop" style="background:url('assets/images/foto2.jpg')"></div>
        <div class="hover-caption bottom-left bottom-right p-b-40">
          <h4 class="text-white m-b-25">Capture the moments</h4>
          <a class="font-montserrat fs-12 hint-text text-white all-caps">More information</a>
        </div>
      </div>
      <div class="col-md-4 text-center bg-success hover-push demo-story-block">
        <div class="hover-backdrop" style="background:url('assets/images/foto3.jpg')"></div>
        <div class="hover-caption bottom-left bottom-right p-b-40">
          <h4 class="text-white m-b-25">Digital solutions led by<br>
            clarity, simplicity & honesty</h4>
          <a class="font-montserrat fs-12 hint-text text-white all-caps">More information</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-t-90 p-b-90 bg-master-lighter demo-story-block xs-p-t-20 xs-p-b-20">
    <div class="container text-center sm-p-t-20">
      <h6 class="block-title text-white m-b-0">25% off</h6>
      <h3 class="text-white m-b-0 m-t-5">Sign up for our newsletter now to get special discount</h3>
      <p class="font-arial fs-12 hint-text text-white m-t-5">We <strong>value your privacy</strong>. None of the details supplied will be shared with external parties</p>

    </div>
  </section>

</template>