<template name="Client">

  <section class="hbox stretch dashboard " style="padding-top: 88px;">

      <section class="vbox">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="" data-pages="parallax">
                 <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                  <div class="inner">
                    <ul class="breadcrumb" style="background-color:#ffffff">
                      <li>
                        <a href="/">Home</a>
                      </li>
                      <li><a href="#" class="active">client</a>
                      </li>
                    </ul>
                  </div>
                 </div>

                <div class="container-fluid container-fixed-lg ">
                senarai
                    <form class="navbar-form navbar-right hidden-xs" role="search">
                      <div class="form-group ">
                        <div class="input-group ">

                          <input type="text" class="form-control" xsearch="labour_list" placeholder="Carian..">

                  <span class="input-group-addon primary cursor">
                    <i class="fa fa-search "></i>
                  </span>
                    <span xaction="add" class="input-group-addon success cursor">
                      <i class="fa fa-plus"></i>
                    </span>


                        </div>
                      </div>

                    </form>
                   <br>
                  <hr style="margin-top: 2px;">
                  <div class="col-sm-12">
                      {{#each .}}
                    <div class="col-md-3">
                      <div class="panel ">
                        ss
                      </div>
                    </div>
                    {{/each}}

                    {{#unless length}}

                     Tiada data untuk dipaparkan.

                    {{/unless}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </section>


  </section>
  {{> LookupAddClient}}
</template>